@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 2em 16em 0 16em;
}
.column{
    float: left;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.logo {
  margin: 0;
  padding: 0;
  float: left;
  width: auto;
}
.logo img {
  width: 90px;
  height: 53px;
  padding: 0 2em;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
#navbar ul {
  padding: 0 0 0 2em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
li {
  float: right;
  right: 0;
  padding: 0 1em;
}
li a {
  display: block;
  padding: 14px 0.5em;
  color: black;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}
li a:hover:not(.active) {
  background-color: #f8eeee;
}
.active {
  background-color: #dedede;
}
p {
  font-size: small;
}
button {
    border: none;
  background-color: #fee600;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#imginit {
  float: right;
  width: 200px;
  height: 200px;
  vertical-align: middle;
}
#texto {
  width: 40em;
}
#texto p {
  display: inline-block;
}
h1{
    font-weight: 900;
    font-size: 3em;
}
.zonaImagenes div.nav{
    font-size: larger;
    float: left;
}
.barra{

}
.filtro{
    float: right;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e1e1e;
  position: fixed;
  padding: 0 16em;
}
.footer > div {
  float: left;
}
#izq {
  width: 40em;
}
#der {
  width: 40em;
}
.footer p {
  color: white;
  text-align: left;
  position: relative;
  top: 1em;
}
.footer button {
  right: 16em;
  padding-top: 0.5em;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
  position: fixed;
  font-size: medium;
}
.footer img {
  float: left;
  padding: 0.5em;
}
