@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  border: 0;
}
.general {
  padding: 2em 16em 0 16em;
}
.column {
  float: left;
  display: block;
  padding: 10px;
  margin: 0;
}
.column img{
  padding: 1em 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
/* Zona para los estilos de la barra de navegacion */
.logo {
  margin: 0;
  padding: 0;
  float: left;
  width: auto;
  height: 100%;
  background-color: white;
}
.logo img {
  width: auto;
  height: 2.5em;
  padding: 0 0 0 16em;
}
/* Barra de navegacion principal */
#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 1;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 16em 0 0;
  overflow: hidden;
  background-color: #ffffff;
}
#navbar li {
  float: right;
  padding: 0 1em;
}
#navbar li a {
  display: block;
  padding: 14px 0.5em;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}
#navbar li a:hover:not(.active) {
  background-color: #f8eeee;
}
#navbar .active {
  background-color: #dedede;
}
/* Para el texto en general */
p {
  font-size: small;
}
button {
  border: none;
  background-color: #fee600;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover{
  cursor: pointer;
}
/* Imagen del edificio */
#imginit {
  vertical-align: middle;
  right: 0;
  padding: 10% 0;
  height: auto;
  width: 45%;
}
#texto {
  width: 40em;
}
#texto p {
  display: inline-block;
}
h1 {
  font-weight: 900;
  font-size: 3em;
}
/* Zona que muestra imagenes */
.zonaImagenes div.nav {
  font-size: larger;
  float: left;
}
.nav ul li:hover {
  background-color: #fee50079;
}
.nav ul {
  padding: 0 0 0 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav li {
  float: left;
  right: 0;
  padding: 0 1em;
}
.nav li a {
  display: block;
  padding: 14px 0.5em;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}
.nav .active{
    background-color: #fee600;
}
/* Zona del collage de imagenes */
.collage {
  column-count: 3;
}
.collage-container{
  position: relative;
  width: 100%;
  z-index: 0;
}
.collage-container:hover .middle{
  opacity: 1;
}
.collage img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fee600;
}
.collage-container:hover .overlay{
  opacity: 0.5;
  cursor: pointer;
}
.text-overlay{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.filtro {
  float: right;
}
/* -----Parte de los partners */
.partners img{
    width: 100%;
}
/* ------Parte del about us------- */
.about img{
  max-width: 18em;
  padding: 0 5em 0 0;
  vertical-align: middle;
}
.about-abstract{
  position: absolute;
  width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.about-abstract input{
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.about-abstract input:hover{
  cursor: pointer;
}
/* ------Parte del blog------ */
.blog{
  height: max-content;
  columns: 3;
  height: 100%;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 16em;
  height: 100%;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container{
  padding: 2px 16px;
}
/* Zona de ingreso de mensaje */
input[type=text], input[type=email], textarea{
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
}
form{
  width: 18em;
}
form label{
  display: inline-block;
  padding: 12px 12px 12px 0;
}
input[type=submit]{
  background-color: #fee600;
  border: none;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}
input[type=submit]:hover{
  cursor: pointer;
}
.contact{
  vertical-align: middle;
  right: 0;
  padding: 10% 0;
  height: auto;
}
.iconos{
  padding: 1vh 0 1vh 5vh;
}
.iconos:not(.info) img{
  padding: 0 1vh;
}
.info img{
  padding: 0 5em;
}
.iconos figure{
  float: left;
  display: block;
}
figcaption{
  padding: 2px;
  text-align: center;
}
/* -------Footer-------- */
footer {
  width: 100%;
  background-color: #1e1e1e;
  padding: 60px 0px;
  color: white;
  text-align: left;
  position: relative;
  top: 1em;
}
#backToTop {
  float: right;
  padding: 0 16em 0 0;
  border: none;
  outline: none;
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
  font-size: medium;
}
footer img {
  float: left;
  padding: 0.5em 0 0 16em;
}
